{:paths ["src"]
 :deps {com.shipclojure/tailwind-merge-clj {:mvn/version "0.2.0"}}
 :aliases
 {:dev
  {:extra-paths ["portfolio"]
   :extra-deps
   {org.clojure/clojure {:mvn/version "1.12.0"}
    org.clojure/clojurescript {:mvn/version "1.12.42"}
    no.cjohansen/portfolio {:mvn/version "2025.01.28"}
    thheller/shadow-cljs {:mvn/version "3.1.7"}
    no.cjohansen/replicant {:mvn/version "2025.06.21"}
    no.cjohansen/lookup {:mvn/version "2025.04.12"}}}
  :mcp {:deps {org.slf4j/slf4j-nop {:mvn/version "2.0.16"} ;; Required for stdio server
               com.bhauman/clojure-mcp {:git/url "https://github.com/bhauman/clojure-mcp.git"
                                        :git/tag "v0.1.5-alpha"
                                        :git/sha "5a0c9e2"}}
        :exec-fn clojure-mcp.main/start-mcp-server
        :exec-args {:port 7888}}}}
